$bg-clr: #EDAE49;
$primary-clr:#FDF6ED;

body {
    margin: 0;
    
    box-sizing: border-box;

    background-color: $bg-clr;
    color: $primary-clr;

    font-family: sans-serif;

    font-size: 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    
    .nav-logo {
        h4 {
            margin: 0;
            padding: 0;
        }

        font-size: 2rem;
        text-transform: capitalize;
        padding-left: 2rem;
    }

    .nav-list {
        display: flex;
        padding-right: 2rem;

        li{
            list-style: none;
            text-transform: capitalize;
            font-size: 1.2rem;
            font-weight: 600;

            padding: 0 .8rem;
        }
    }

    .nav-wrapper {
        display: none;
        .fa-solid {
            padding-right: 2rem;
            cursor: pointer;
        }
    }

}

.nav-wrap-box {

    .nav-wrapper-list {
        margin: 0;
        padding: 0;
    
        height: auto;
        background-color: $bg-clr;
        transition: height 0.5s ease-in-out;

    
        a {
            text-decoration: none;
            cursor: pointer;
            color: $primary-clr;
        }

        a:hover {
            text-decoration: underline;
        }

        li {
            list-style: none;
            font-size: 1rem;
            color: $primary-clr;
            padding: 1rem 2rem;
            border-bottom: 1px solid $primary-clr;

        }
    }    
}


.primary-section {
    height: 100vh;
    padding: 4rem 2rem 0 2rem;
    
    .primary-section-wrap {

        display: flex;
        justify-content: center;
        align-items: center;

        .primary-content {
            padding: 0 2rem;
            font-size: 1.2rem;
        }
        
        img {
            height: 400px;
            border-radius: 25%;
        } 
    }
}



.buttons {
    padding: 2rem 2rem;

    .btn {
        margin: 0 1rem;
        padding: 1rem 2rem;

        background-color: transparent;
        border: 2px solid $primary-clr;
        border-radius: 20px;
        
        font-size: 1rem;
        font-weight: 600;
        color: $primary-clr;

        cursor: pointer;        
    }

    .btn:hover {
        background-color: rgb(253 246 237 / 0.1);
    }
}

@media screen and (width < 1000px) {
    nav {
    
      .nav-list {
        display: none;
      }
      
    .nav-wrapper {
      display: block;
    }

    }

  }

  @media screen and (width < 800px) {
    .primary-section {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 0 3rem 0;
        
       
    }


    .buttons {
        width: 100%;
        margin: 0;
        padding: 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }

  @media screen and (width < 500px) {
    .buttons {
        flex-direction: column;  

        .btn {
            margin: 1rem 0;      
        }
    }
  }

  .footer { 
    height: 80px;
    font-size: 1rem;

    
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .visible { 
    display: none;
    transition: all 0.325s ease-in-out;
  }

